h1 {
  color: rgb(0, 0, 0);
  background: linear-gradient(45deg, darkgrey, black, darkgrey,black, darkgrey, black, hsl(0, 91%, 21%),darkgreen );
  text-align: center;
  position:-webkit-sticky;
  position: sticky;
  top: 20px; 
}
a {
  font-size: x-large;
  color: aliceblue;
  background: linear-gradient(44deg, grey,black, darkgrey);
  padding: 15px;
  border: solid 4px darkgreen;
  border-radius: 15px;
}
a:hover {background-color:white;
  color: rgb(140, 140, 140);
border: solid 4px rgb(18, 62, 9);
}
img{width: 100%;}
#link { text-align: center;}
html { background: linear-gradient(45deg, grey,black, darkgrey)}
body{color: antiquewhite;}

#About-banner { height: 250px; }

/* Dropdown Button */
.dropbtn {
  background-color: #153700;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: -webkit-sticky ;
  position: sticky; */
  position: absolute ;
  top: 20px;
  left: 40px;

  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: sticky;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px transparent( 0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: transparent;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

h1{background-image: url(./images/banner-1571858_1920.jpg) ; text-shadow: brown; right: 5px;
z-index: index -1; ;}
h1:hover {text-shadow: darkblue;right: 4px;}

#Count-btn { color: black; background-color: darkgray;
border-radius: 4px;
box-shadow: darkred 10px 8px 10px 0px;
 }

 .container  {display: flex;
align-self: center;}

.link {text-align: center; margin-top: 20px;}
.link2 {padding-top: 20px;}

.wrapper >div  {background-color: darkgreen; padding: 1em;}
.wrapper > div:nth-child(odd){background-color: blue;}
.wrapper{display: grid;
grid-template-columns: 3fr;
grid-gap: 25px;
}

.Photo {
display: grid;
grid-template-columns: repeat(3, auto);
grid-gap: 15px;
}
